<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e2_2185"><div id="e16_437"></div><div id="e2_2193"><div id="e2_2194"><div id="e2_2195"></div><div id="e2_2196"></div></div></div><span id="e2_2294">New Meeting</span><span id="e2_2295">Title</span><span id="e2_2768">Feature - Login</span><span id="e2_2766">Meeting Date</span><span id="e2_2769">Meeting Audio or Video</span><span id="e2_2767">Oct 22, 2020</span><span id="e16_440">Drag and drop your file here</span><div id="e2_2297"></div><div id="e2_3001"></div><div id="e2_3004"><div id="e2_3005"></div></div><div id="e16_415"><div id="e16_416"><div id="ei16_416_54_1739"></div></div><span id="e16_417">Proceed</span></div><div id="e16_449"><div id="e16_446"></div><div id="e16_447"></div><div id="e16_448"></div></div></div>
          </body>
          </html>